<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sr -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.ntnu.idi.tdt4250.sr.presentation.SrModelWizardID"
            name="%_UI_SrModelWizard_label"
            class="no.ntnu.idi.tdt4250.sr.presentation.SrModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SrModelFile.gif">
         <description>%_UI_SrModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sr -->
      <editor
            id="no.ntnu.idi.tdt4250.sr.presentation.SrEditorID"
            name="%_UI_SrEditor_label"
            icon="icons/full/obj16/SrModelFile.gif"
            extensions="sr"
            class="no.ntnu.idi.tdt4250.sr.presentation.SrEditor"
            contributorClass="no.ntnu.idi.tdt4250.sr.presentation.SrActionBarContributor">
      </editor>
   </extension>

</plugin>
