<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tt -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.ntnu.idi.tdt4250.tt.presentation.TtModelWizardID"
            name="%_UI_TtModelWizard_label"
            class="no.ntnu.idi.tdt4250.tt.presentation.TtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TtModelFile.gif">
         <description>%_UI_TtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tt -->
      <editor
            id="no.ntnu.idi.tdt4250.tt.presentation.TtEditorID"
            name="%_UI_TtEditor_label"
            icon="icons/full/obj16/TtModelFile.gif"
            extensions="tt"
            class="no.ntnu.idi.tdt4250.tt.presentation.TtEditor"
            contributorClass="no.ntnu.idi.tdt4250.tt.presentation.TtActionBarContributor">
      </editor>
   </extension>

</plugin>
